.titulote{
	color:black;
	border:dashed;
	text-align: center;
	font-size: 35px;
	background-color: #CB6600;
}

.titulito{
	padding: 10px;
	text-align: center;
	font-variant: small-caps;
	border-style: ridge;
	font-size: 20px;
	
}

.parrafito1{
	color:black;
	font-variant: small-caps;
	text-align: justify;
	font-size: 15px;
	padding-right: 20px;
	padding-top: 15px;
	padding-left: 18px;
	padding-bottom: 10px;
	background-color: #AED7A0;
}

.parrafito2{
	padding: 10px;
	border-style: solid;
	border-width: 10px;
	border-color: red;
	text-align: justify;
}

.parrafito3{
	white-space: pre;
	width: auto;
	height: auto;
	border: 1px solid;
	overflow: hidden;
	text-overflow: ellipsis;
	font-variant: normal;
	background-color: yellow;
	font: small-caption;
	
}