body {
	background-image: url('imagenes/mar_nubes1.png');
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	padding: 15px;
}

h1 {
	font-size: 75px;
	text-align: center;
	font-family: 'Bungee';
}

p {
	font-family: 'Allan';
	font-size: 30px;
	padding: 50px;
}

table {
	background-color: #6ABEEE;
	border: 10px solid black;
	border-radius: 50px;
	padding: 0px 20px 0px 20px;
	width: auto;
	margin: 20px;
	text-align: justify;
}

button {
	text-align: center;
	background-position: center;
	font-size: 30px;
}

.logo {
	color: #6ABEEE;
	background-color: black;
	border-radius: 30px;
	padding: 5px;
}

/* Clases de la barra de búsqueda de las diferentes páginas y los favoritos */

.visitar {
	font-size: 50px;
	font-family: 'Calligraffitti';
	text-align: center;
	background-color: #4782F4;
	width: 100%;
	margin-right: 200px;
}
.imgvisitar {
	width: 200px; 
	height: 333px;
}

.imgvisitar:hover {
	width: 200px; 
	height: 333px;
	background-color: white;
	border: 5px;
	border-radius: 20px;
}
.provvisitar {
	font-family: 'Amita';
	font-size: 25px;
}

.bordetabla {
	border: 5px solid black;
	border-radius: 20px;
}

/* Clases de la tabla principal y para link Página de Inicio */

.favoritos {
	font-size: 20px;
	font-family: 'Arbutus';
	text-align: center;
	background-color: #DFA03C;
	width: auto;
}

.favoritos:hover {
	font-size: 20px;
	font-family: 'Arbutus';
	text-align: center;
	background-color: #39B318;
	width: auto;
}

.fav_table {
	border: 0px;
	font-size: 50px;
	font-family: 'Calligraffitti';
	text-align: center;
	background-color: rgba(255, 0, 0, 0);;
	width: 100%;
	height: 100%;

}

.inicio {
	font-size: 20px;
	font-family: 'Arbutus';
	text-align: center;
	background-color: 
	width: 100%;
	margin-right: 200px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-radius: 30px;
}

.inicio:hover {
	font-size: 20px;
	font-family: 'Arbutus';
	background-color: #DF4400;
	text-align: center;
	width: 100%;
	margin-right: 200px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-radius: 30px;
}
